#* @vtlvariable name="action" type="com.atlassian.jira.plugins.importer.web.ImporterProcessSupport" *#

#set ($cancelKey = $i18n.getText('common.forms.cancel.accesskey'))
#set ($cancelText = $i18n.getText('common.forms.cancel'))
#set ($modifierKey = $action.browserUtils.getModifierKey())
#set ($submitKey = $i18n.getText('common.forms.submit.accesskey'))
#set ($submitTitle = $i18n.getText('common.forms.submit.tooltip', [$submitKey, $modifierKey]))

#if (!$auiparams.hideButtons || $auiparams.hideButtons == false)
	<div class="buttons-container#if ($auiparams.buttonsOnLeft) left-edge#end">
		#if ($action.currentStep == $action.totalSteps)
			#set ($nextLabel = $i18n.getText('jira-importer-plugin.external.csv.begin.import'))
		#else
			#set ($nextLabel = $i18n.getText('jira-importer-plugin.jiraformfooter.next'))
		#end
	</div>
#end
</form>

<script language="javascript" type="text/javascript">
	AJS.$(window).load(function() {
		AJS.$("form[name='jiraform'] :input:visible:first").focus();
	});
</script>
