#disable_html_escaping()
<div>
	<form name="project-category-filter" class="project-category-filter" action="?">
		<div class="form-content">
			<select name="projectCategoryValues" id="select-project-category" class="select-project-category">
			#foreach ($mapEntry in $projectCategoryFilter.entrySet())
				<option
				#if($mapEntry.key == $projectCategory)
					value="$mapEntry.key" selected>
				#else
					value="$mapEntry.key">
				#end
				$mapEntry.value</option>
			#end
			</select>
		<input type="submit" value="Filter" class="submit-btn" />
		</div>
		<input type="hidden" value="$reportKey" name="reportKey" />
	</form>
</div>