#disable_html_escaping()
<div class="form-div">
	<form name="project-category-filter" class="project-category-filter" action="?">
		<div class="form-content">
			<select name="projectId" id="select-project-category" class="select-project-category">
				#foreach ($mapEntry in $projectsList.entrySet())
					<option value="$mapEntry.key"
					#if($mapEntry.key == $projectId)
						 selected
					#end
					>
					$mapEntry.value</option>
				#end
			</select>
			<select name="sprintId" id="select-project-category" class="select-project-category">
				#foreach ($mapEntry in $sprintFilter.entrySet())
					<option value="$mapEntry.key"
					#if($mapEntry.key == $sprint)
						 selected
					#end
					>
					$mapEntry.value</option>
				#end
			</select>
			<input type="submit" value="Filter" class="submit-btn" />	
		</div>
		<input type="hidden" value="$reportKey" name="reportKey" />
	</form>
</div>
