#disable_html_escaping()

#set( $myNumber = 1 )
<div>
	#parse("templates/reports/time-estimates-report/filters.vm")
	#if($none)
		<p><sup class="red">*</sup>Please select a project from the dropdown</p>
	#else
		<table class="timeReportHeader" border="0" cellspacing="0">
	        <thead>
	            <tr>
	                <th nowrap="true"><h3 class="bluetext">Estimates vs Actuals for Project: $textutils.htmlEncode($projectName)
	                #if($version.getId())
	                    &nbsp;($textutils.htmlEncode($version.getName()))
	                #end
	                </h3>
	                </th>
	            </tr>
	        </thead>
    	</table>
	    #if (!$issues.isEmpty())
	        <table class="timeReport" id="timeReport" border="0" cellspacing="0">
	            <thead>
	                <tr>
	                    <th class="small-head light-gray" data-id="time-estimates-report"><span Title="JIRA Id">Story Id<span></th>
	                    <th class="small-head light-gray" data-id="time-estimates-report"><span Title="Title of the story">Title<span></th>
	                    <th class="small-head light-gray" data-id="time-estimates-report"><span Title="Status of the story">Status<span></th>
	                    <th class="small-head light-white num-col" data-id="time-estimates-report"><span Title="Architect Estimation">Arch. Est. <data value="hour">(h)</data></span>
							<div class="header-tooltip header-tooltip-small hidden">Architect Estimate</div>
						</th>
	                    <th class="small-head light-white num-col" data-id="time-estimates-report"> <span Title="Developer Estimation">Org. Est. (Dev) <data value="hour">(h)<sup> *</sup></data></span>
							<div class="header-tooltip header-tooltip-small hidden">Original Estimate</div>
						</th>
	                    <th class="small-head light-red num-col" data-id="time-estimates-report">Actual <data value="hour">(h)<sup> ^</sup></data>
							<div class="header-tooltip hidden">Actual hours logged by developers</div>
						</th>
	                    <th class="small-head light-red num-col" data-id="time-estimates-report">Remaining <data value="hour">(h)<sup> #</sup></data>
							<div class="header-tooltip hidden">Remaining hours according to estimation</div>
						</th>
	                    <th class="small-head light-yellow num-col" data-id="time-estimates-report">Dev. Est. dev. <sup> $</sup>
							<div class="header-tooltip hidden">Developer Estimates deviation</div>
						</th>
	                    <th class="small-head light-yellow num-col" data-id="time-estimates-report">Arch. vs <br/>Dev Est. <sup> †</sup>
							<div class="header-tooltip hidden">Architect vs Developer Estimates</div>
						</th>
	                    <th class="small-head light-yellow num-col" data-id="time-estimates-report">Arch. vs <br/>Act. Est. <sup> /</sup>
							<div class="header-tooltip hidden">Architect vs Actual Estimates</div>
						</th>
	                </tr>
	            </thead>
	            <tbody>
	                #foreach ($issue in $issues)
	                    #set($issueActualTime = $issueActualTimes.get($issue.getKey()))
	                    #set($issueRemainingTime = $issueRemainingTimes.get($issue.getKey()))
	                    #set($devEstimate = $devEstimates.get($issue.getKey()))
	                    #set($architectEstimate = $architectEstimates.get($issue.getKey()))
	                    #set($devDeviation = $summaryBean.getDevDeviation().get($issue.getKey()))
	                    #set($architectOriginalDeviation = $summaryBean.getArchitectOriginalDeviation().get($issue.getKey()))
	                    #set($architectActualDeviation = $summaryBean.getArchitectActualDeviation().get($issue.getKey()))
	                    #set($totalEstimate = $totalTimeEstimate.get($issue.getKey()))
	                    #parse("templates/reports/time-estimates-report/time-tracking-issue.vm")
	                    #foreach ($subtask in $issue.getSubTasks())
	                        #set($subTaskActualTime = $subTaskActualTimes.get($subtask.getKey()))
	                        
	                        #set($subTaskRemainingTime = $subTaskRemainingEstimates.get($subtask.getKey()))
	                        
	                        ## Resetting variables to false. If not done, it keeps the previous value of variables if the RHS of assignment operation returns null.
	                        ## Due to this previous sub-task data is displayed when current sub-task doesn't have data.
	                        #set($subTaskArchitectEstimate = false)
	                        #set($subTaskArchitectEstimate = $subTaskArchitectEstimates.get($subtask.getKey()))
	                        
	                        #set($subTaskDevEstimate = false)
	                        #set($subTaskDevEstimate = $subTaskDevEstimates.get($subtask.getKey()))
	                        
	                        #set($totalSubTask = $totalSubTaskTime.get($subtask.getKey()))
	                        #parse("templates/reports/time-estimates-report/time-tracking-subtask.vm")
	                    #end
	                    #set($myNumber = $myNumber+1)
	                #end
	            </tbody>
	            <tfoot>
	                <tr class="footer-header">
	                    <th class="small-head first">Total Stories: $issuesSize</th>
	                    <th class="small-head"></th>
	                    <th class="small-head first"></th>
	                    <th class="small-head">&nbsp;$summaryBean.getAggregateArchitectEstimates()</th>
	                    <th class="small-head">&nbsp;$summaryBean.getAggregateDevEstimates()</th>
	                    <th class="small-head">&nbsp;$aggregateIssueEstimate</th>
	                    <th class="small-head">&nbsp;$aggregateIssueRemainingTime</th>
	                    #set($aggregateDevDeviation = $summaryBean.getAggregateDevDeviation())
	                   	#if($summaryBean.getAggregateDevDeviation() <= 10)
	                   		#if($summaryBean.getAggregateDevDeviation() < 0)
	                   			#set($aggregateDevDeviation = -1 * $summaryBean.getAggregateDevDeviation())
					        #end
					        <th class="small-head">$aggregateDevDeviation%</th>
					    #else
					    	<th class="small-head red">$summaryBean.getAggregateDevDeviation()%</th>
					    #end
						
						#set($aggregateArchitectDeviation = $summaryBean.getAggregateArchitectDevDeviation())                    	
	                    #if($summaryBean.getAggregateArchitectDevDeviation() <= 10)
	                    	#if($summaryBean.getAggregateArchitectDevDeviation() < 0)
	                    		#set($aggregateArchitectDeviation = -1 * $summaryBean.getAggregateArchitectDevDeviation())
					        #end
					        <th class="small-head">$aggregateArchitectDeviation%</th>
					    #else
					        <th class="small-head red">$summaryBean.getAggregateArchitectDevDeviation()%</th>
					    #end
					    
					    #set($aggregateArchitectActualDeviation = $summaryBean.getAggregateArchitectActualDeviation())
					    #if($summaryBean.getAggregateArchitectActualDeviation() <= 10)
					    	#if($summaryBean.getAggregateArchitectActualDeviation() < 0)
					        	#set($aggregateArchitectActualDeviation = -1 * $summaryBean.getAggregateArchitectActualDeviation())
					        #end
					        <th class="small-head">$aggregateArchitectActualDeviation%</th>
					    #else
					        <th class="small-head red">$summaryBean.getAggregateArchitectActualDeviation()%</th>
					    #end
	                </tr>
	            </tfoot>
	        </table>
			<div>
				<small><b>Table headers:</b></small></br>
				<small>Arch. Est. = Architect Estimates</small><br/>
				<small>Org. Est. (Dev) = Original Estimates (Developer)</small><br/>
				<small>Dev. Est. dev. = Developer Estimates deviation</small><br/>
				<small>Arch. vs Dev Est. = Architect vs Developer Estimates</small><br/>
				<small>Arch. vs Act. Est. = Architect vs Actual Estimates</small><br/>
				<small>†  Architect vs Dev Estimates = 100 * (Original Estimate (Dev) - Architect Estimate)/Architect Estimate</small>
				<br/>
				<small>*  Story Estimate = Σ (Sub-Story Estimate + Story Estimate)</small>
				<br/>
				<small>^  Story Actual = Σ (Sub-Story Actual + Story Actual)</small>
				<br/>
				<small>#  Story Remaining = Σ (Sub-Story Remaining + Story Remaining)</small>
				<br/>
				<small>$  Dev Estimate Deviation = 100 * (Actual + Remaining - Original Estimate (Dev))/Original Estimate (Dev)</small>
				<br/>
				<small>/  Architect vs Actual Estimates = 100 * (Actual + Remaining - Architect Estimate)/Architect Estimate</small>
				<br/>
				<small><b>Note :</b>
					<br/> 1. If any of the estimate (Architect or Original Estimate (Dev)) is missing for a sub-story, that sub-story will not be rolled up to its parent story.
					<br/> 2. Total is Summation of Parent Story data.
				</small>
			</div>
	        #end
        #end
</div>

$webResourceManager.requireResourcesForContext("project.estimates.report.plugin.resources")