#disable_html_escaping()
#if(!$none)
	<div>
	    <table class="timeReport" id="timeReport" border="1" cellspacing="0">
			<thead>
				<tr>
					<th style="background-color: #f0f0f0;">Name</th>
					<th style="background-color: #f0f0f0;">Employee Id</th>
					#if(${practiceName} == "All")
						<th style="background-color: #f0f0f0;">Practice</th>
					#end
					<th style="background-color: #f0f0f0;">Designation</th>
					<th style="background-color: #f0f0f0;">Total <br/>Sub-Stories</th>
					<th style="background-color: #f0f0f0;">Sub-Stories <br/>Considered</th>
					<th style="background-color: #fafafa;">Architect <br/>Estimate&nbsp;</th>
					<th style="background-color: #fafafa;">Developer <br/>Estimate</th>
					<th style="background-color: #ffebe5;">Actual</th>
					<th style="background-color: #ffebe5;">Remaining</th>
					<th style="background-color: #fffae5;">Dev Estimate Deviation <sup> $</th>
					<th style="background-color: #fffae5;">Architect vs <br/>&nbsp;Dev Estimates <sup> ~</sup></th>
					<th style="background-color: #fffae5;">Architect vs <br/>&nbsp;Actual Estimates<sup> /</sup></th>
				</tr>
			</thead>
			<tbody>             
				#if(!$developersData.isEmpty())
					#foreach ($data in $developersData)
						#parse("templates/reports/practice-manager-estimates-report/excel/table-body.vm")
					#end
				#else
					<span style="color:red;">No relevant data available</span>
					<tr>			
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						#if(${practiceName} == "All")
							<td style="text-align:center;">--</td>
						#end
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
						<td style="text-align:center;">--</td>
					</tr>
				#end
			</tbody>
			<tfoot>
	                <tr style="background-color: #f0f0f0;">
	                	<th class="small-head first" colspan=#if(${practiceName} == "All") "6" #else "5" #end>Total: </th>
	                    <th class="small-head">&nbsp;$totalEstimatesData.getArchitectEstimate()</th>
	                    <th class="small-head">&nbsp;$totalEstimatesData.getOriginalEstimate()</th>
	                    <th class="small-head">&nbsp;$totalEstimatesData.getActualEstimate()</th>
	                    <th class="small-head">&nbsp;$totalEstimatesData.getRemainingEstimate()</th>
	                    #set($aggregateDevDeviation = $totalEstimatesData.getDevEstimateDeviation())
	                   	#if($aggregateDevDeviation <= 10)
	                   		#if($aggregateDevDeviation < 0)
					        	#set($aggregateDevDeviation = -1 * $totalEstimatesData.getDevEstimateDeviation())
					        #end
					        <th style="color:#32c42f;">$aggregateDevDeviation%</th>
					    #else
					    	<th style="color:red;">$aggregateDevDeviation%</th>
					    #end
	                    
	                    #set($aggregateArchitectDeviation = $totalEstimatesData.getArchitectDevDeviation())
	                    #if($aggregateArchitectDeviation <= 10)
	                    	#if($aggregateArchitectDeviation < 0)
					        	#set($aggregateArchitectDeviation = -1 * $totalEstimatesData.getArchitectDevDeviation())
					        #end
					        <th style="color:#32c42f;">$aggregateArchitectDeviation%</th>
					    #else
					    	<th style="color:red;">$aggregateArchitectDeviation%</th>
					    #end
					    
					    #set($aggregateArchitectActualDeviation = $totalEstimatesData.getArchitectActualDeviation())
					    #if($aggregateArchitectActualDeviation <= 10)
					    	#if($aggregateArchitectActualDeviation < 0)
					        	#set($aggregateArchitectActualDeviation = -1 * $totalEstimatesData.getArchitectActualDeviation())
					        #end
					        <th style="color:#32c42f;">$aggregateArchitectActualDeviation%</th>
					    #else
					    	<th style="color:red;">$aggregateArchitectActualDeviation%</th>
					    #end
	                </tr>
	            </tfoot>
		</table>
		<div>
			<small><b>Note :</b><br/> 1. All Estimates are in terms of Hours</small>
			<br/>
			<small> 2. Only Sub-Stories with closed status is considered for report.</small>
	        <br/>
		    <small>~  Architect vs Dev Estimates = 100 * (Original Estimate (Dev) - Architect Estimate)/Architect Estimate</small>
		    <br/>
		    <small>$  Dev Estimate Deviation = 100 * (Actual + Remaining - Original Estimate (Dev))/Original Estimate (Dev)</small>
		    <br/>
		    <small>/  Architect vs Actual Estimates = 100 * (Actual + Remaining - Architect Estimate)/Architect Estimate</small>
		</div>	
	</div>
#end